<main>
  <%= render layout: 'shared/page_header', locals: { title: @course.name, subtitle: 'Student Enrollment', feather_icon: 'users' } do %>
    <ol class="breadcrumb mt-4 mb-0">
        <li class="breadcrumb-item"><%= @course.school.name %></li>
        <li class="breadcrumb-item"><%= @course.faculty.name %></li>
        <li class="breadcrumb-item "><%= @course.name %></li>
    </ol>
  <% end %>
  <div class="container-fluid mt-n10">
      <div class="card">
          <div class="card-header">Enroll Students</div>
          
          <div class="card-body">
 
          <p>Enrolling students in a course will also create student accounts if they do not already exist.</p>
            <%= react_component('CsvPreview') %>
            
          </div>
      </div>
  </div>
</main>