<main>
  <%= render layout: 'shared/page_header', locals: { title: @course.name, subtitle: 'Student Enrollment', feather_icon: 'users' } do %>
    <ol class="breadcrumb mt-4 mb-0">
        <li class="breadcrumb-item"><%= @course.school.name %></li>
        <li class="breadcrumb-item"><%= @course.faculty.name %></li>
        <li class="breadcrumb-item "><%= @course.name %></li>
    </ol>
  <% end %>
  <div class="container-fluid mt-n10">
      <div class="card">
          <div class="card-header">Enroll Students</div>
          
          <div class="card-body">
          <%= react_component('CsvPreview') %>
          <div id="csv-data">
            
          </div>
          <p><strong>Enrolling students in a course will also create student accounts if they do not already exist.</strong></p>
            
            <%= simple_form_for @preview_import, url: preview_import_course_enrollments_path, multipart: true, remote: true do |f| %>
              <div class="form-group">
                <%= f.file_field :file %>
              </div>
              <div class="form-group">
                <%= f.input :headers, as: :boolean, label: "Do you have headers?" %>
              </div>
              <%= f.hidden_field :course_id, value: params[:course_id] %>
              <div class="form-group">
              <%= f.submit "Preview CSV", class: 'btn btn-sm btn-outline-secondary' %>
              </div>

            <% end %>
            
            <%= simple_form_for @import, url: import_course_enrollments_path, multipart: true, class: 'form-inline' do |f| %>
            <% if @import.errors.any? %>
              <div class="alert alert-danger mb-3">
                <% @import.errors.full_messages.each do |msg| %>
                  <div><%= msg %></div>
                <% end %>
              </div>
            <% end %>
            <div class="form-group mt-4">
              <%= f.file_field :file %>
              <%= f.hidden_field :course_id, value: params[:course_id] %>
              <%= f.submit "Import CSV", class: 'btn btn-info' %>
            </div>
            <% end %>
          </div>
      </div>
  </div>
</main>